<div class="content-wrapper">
  <section class="content">
     <app-addPerson (messageEvent)="receiveMessage()"></app-addPerson>
     <!-- <app-persona></app-persona> -->
     <div>
      <div class="filter-wrap">
        <input [(ngModel)]="searchText" placeholder="Nombre Persona" class="filter-input">
        <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">X</span>
        <!-- <a class="btn btn-primary filter-clear" *ngIf="searchText.length>0" (clic)="clearFilter()">Cancelar</a> -->
      </div>
      {{searchText}}
    </div>
     <table class="table">
           <th>Filtros Personas</th>
     </table>
     <table class="table table-hover" >
        <thead >
           <tr>
              <th>Nombre</th>
              <th>Telefono</th>
              <th>Ocupacion</th>
              <th colspan="2">Ajustes</th>
           </tr>
        </thead>
        <tbody> 
           <!--<tr *ngFor="let i of inscriptions | buscarPersona: busqueda">-->
           <tr *ngFor="let i of listado_personas | filter : searchText">
              <td>{{ i.first_name }} {{i.last_name}}</td>
              <td>{{ i.cellphone }}</td>
              <td>{{ i.ocupation }}</td>
              <td>
                 <a class="btn btn-primary" (click)="edit(i._id)">EDITAR</a>
              </td>
           </tr>
        </tbody>
     </table>
     
  </section>
</div>
