<div class="modal fade" id="modalAddPerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Registro de Personas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                  <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="form34">
                            <i class="fa fa-user prefix grey-text"></i>  Nombre</label>
                      <input type="text" id="form34" class="form-control validate" #firstName>
                  </div>
                  <br>
                  <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="form34">
                                <i class="fa fa-user prefix grey-text"></i>  Apellido</label>
                      <input type="text" id="form34" class="form-control validate" #lastName>
                  </div>
                  <br>
                  <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="form29">
                        <i class="fa fa-address-card prefix grey-text"></i>  Cedula de Identidad</label>
                      <input type="number" id="form29" class="form-control validate" #ci>
                  </div>
                  <br>
                  <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="form29">
                        <i class="fa fa-mobile prefix grey-text"></i>  Celular</label>
                    <input type="number" id="form29" class="form-control validate" #cellphone>
                </div>
                <br>
                <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="form29">
                        <i class="fa fa-envelope prefix grey-text"></i>  Correo</label>
                    <input type="email" id="form29" class="form-control validate" #email>
                </div>
                <br>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="form32">
                    <i class="fa fa-tag prefix grey-text"></i>  Ocupacion</label>
                    <select class="selectpicker" [(ngModel)]="ocupSeleccionado" (change)="captOcupation()">
                        <option value="estudiante">Estudiante</option>
                        <option value="profesional">Profesional</option>
                        <option value="particular">Particular</option>                     
                      </select>
                </div>
                <!--<div>
                    <label data-error="wrong" data-success="right" for="form32">
                     <i class="fa fa-tag prefix grey-text"></i>  Programas</label>
                    <select name="" id="cantidad" [(ngModel)]="progSeleccionado"(change)="captProgram()">
                        <option *ngFor="let i of programs" value="">
                          {{i.name}}
                        </option>
                      </select>
                </div>
                <div class="md-form mb-5">
                   <label data-error="wrong" data-success="right" for="form32">
                    <i class="fa fa-tag prefix grey-text"></i>  Interes</label>
                    <select name="" id="cantidad" [(ngModel)]="intSeleccionado" (change)="captInteres()">
                            <option *ngFor="let i of interes">
                              {{i}}
                            </option>
                          </select>
                </div> -->
                <!-- <br> -->
                <!-- <div class="md-form">
                    <label data-error="wrong" data-success="right" for="form8">
                    <i class="fa fa-commenting prefix grey-text"></i>Descripcion u Observaciones</label>
                    <textarea type="text" id="form8" class="md-textarea form-control" rows="4" #description></textarea>
                    <label data-error="wrong" data-success="right" for="form8">Descripcion u Observacions</label>
                </div>-->
  
              </div>
              <div class="modal-footer d-flex justify-content-center">
                  <button class="btn btn-unique" (click)="save()">Guardar <i class="fa fa-paper-plane-o ml-1"></i></button>
              </div>
              <!-- </form> -->
        </div>
    </div>
</div>

<div class="text-center">
    <a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal" data-target="#modalAddPerson">Registrar Personas</a>
</div>