<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>
         Eventos
         <small>Vigentes</small>
      </h1>      
      <ol class="breadcrumb">
            <li *ngIf='role.name == "Admin"'> <app-add-ejecutivo></app-add-ejecutivo></li>
            <li *ngIf='role.name == "Admin"'><app-addProgram></app-addProgram></li>
            <li *ngIf='role.name == "Admin"'><app-addEvent (messageEvent)="receiveMessage()"></app-addEvent></li>
            <li ><app-addPerson (messageEvent)="receiveMessage()"></app-addPerson></li>
      </ol>
   </section>
   <section class="content h">
      <table class="table table-hover">
         <thead>
            <tr>
               <th>Nombre</th>
               <th>Fecha de Inicio</th>
               <th>Cupos</th>
               <th colspan="2">estado</th>
            </tr>
         </thead>

         <tbody>

            <tr *ngFor="let event of events">
               <td>{{ event.name }}</td>
               <td>{{ event.date_start | date }}</td>
               <td>{{ event.cupos }}</td>
               <td>
                  <a class="btn btn-primary" (click)="send(event._id)">INFORMACION</a>
               </td>
            </tr>
         </tbody>
      </table>
   </section>
</div>