<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
     <h1>
        Reportes
        <small>Grafico de Barras</small>
     </h1>
     <ol class="breadcrumb">
        <li>
           Reportes por Evento
        </li>
        <li>
           <a href="#">
              <i class="fa fa-dashboard"></i>Home</a>
        </li>
        <li class="active">Reportes</li>
     </ol>
  </section>
  <section class="content">
    <app-bar-event></app-bar-event>
  </section>
</div>